<div class="bg-white relative w-11/12 md:w-8/12 mx-auto z-30 border-t-8 -bottom-7 border-green-400 rounded-lg shadow-lg py-8 {{page.header.classes}} ">
    <div class="content text-center z-30 relative lg:px-8">
        {{content|raw}}
        <div class="flex flex-col justify-center bg-white pt-5 md:space-x-4 md:flex-row mx-auto">
            {% for partner in page.media %} 
                {{partner}}
            {% endfor %}        
        </div>
    </div>
</div> 